img{
    width: 75vw;
    height: auto;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9CD9CB;
}

h1{
    color: #D996AA;
    text-align: center;
}

h2{
    color: #c4863b;
    text-align: center;
}

html{
    background-color: #9CD9CB;
}